@import "~@carbon/ibmdotcom-styles/scss/components/buttongroup/buttongroup";
@import "~@carbon/ibmdotcom-styles/scss/components/callout-with-media/index";
@import "~@carbon/ibmdotcom-styles/scss/components/card-group/card-group";
@import "~@carbon/ibmdotcom-styles/scss/components/content-block-cards/content-block-cards";
@import "~@carbon/ibmdotcom-styles/scss/components/content-block-segmented/index";
@import "~@carbon/ibmdotcom-styles/scss/components/content-block-simple/index";
@import "~@carbon/ibmdotcom-styles/scss/components/content-group-horizontal/content-group-horizontal";
@import "~@carbon/ibmdotcom-styles/scss/components/ctasection/index";
@import "~@carbon/ibmdotcom-styles/scss/components/layout/layout";
@import "~@carbon/ibmdotcom-styles/scss/components/leadspace-block/leadspace-block";
@import "~@carbon/ibmdotcom-styles/scss/components/link-list/index";
@import "~@carbon/ibmdotcom-styles/scss/components/logo-grid/logo-grid";
@import "~@carbon/ibmdotcom-styles/scss/components/callout-quote/index";
@import "~@carbon/ibmdotcom-styles/scss/components/quote/quote";
@import "~@carbon/ibmdotcom-styles/scss/components/tableofcontents/index";
@import "~@carbon/ibmdotcom-styles/scss/components/video-player/video-player";
@import "~@carbon/ibmdotcom-styles/scss/components/scroll-into-view/_scroll-into-view.scss";

.bx--logo-grid__col,
.bx--card-group__cards__col,
.bx--content-item-wrapper > .bx--content-item {
  &:nth-of-type(3n) {
    --dds--fade-in-out-delay: 0;
  }
  &:nth-of-type(3n + 1) {
    --dds--fade-in-out-delay: 250ms;
  }
  &:nth-of-type(3n + 2) {
    --dds--fade-in-out-delay: 500ms;
  }
  &:nth-of-type(3n + 3) {
    --dds--fade-in-out-delay: 750ms;
  }
}
