@import "~@carbon/ibmdotcom-styles/scss/patterns/sections/leadspace/leadspace";
@import "~@carbon/ibmdotcom-styles/scss/patterns/blocks/content-block-segmented/index";

@import "~@carbon/ibmdotcom-styles/scss/patterns/sections/ctasection/index";

@import "~@carbon/ibmdotcom-styles/scss/patterns/blocks/content-block-cards/content-block-cards";


@import "~@carbon/ibmdotcom-styles/scss/components/tableofcontents/index";
@import "~@carbon/ibmdotcom-styles/scss/components/card-link/card-link";
