@import "~@carbon/ibmdotcom-styles/scss/patterns/sections/leadspace/leadspace";
@import "~@carbon/ibmdotcom-styles/scss/components/tableofcontents/index";

@import "@carbon/ibmdotcom-styles/scss/patterns/blocks/content-block-segmented/index";
