name: deploy-ibm-cloud-staging (Deploy staging environments to IBM Cloud)

on:
  push:
    branches:
      - master

jobs:
  deploy-staging:
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install dependencies
        run: yarn install
      - name: Update to latest release candidate
        run: yarn update-next
      - name: Set env vars
        uses: ./.github/actions/set-dotenv
        with:
          env-file: .env
        env:
          KALTURA_PARTNER_ID: ${{ secrets.KALTURA_PARTNER_ID }}
          KALTURA_UICONF_ID: ${{ secrets.KALTURA_UICONF_ID }}
          DDS_CALLOUT_DATA: true
          SASS_PATH: node_modules:src
      - name: Build project
        run: yarn build
      - name: Export project
        run: yarn export
      - name: Deploying NextJS Staging to IBM Cloud
        uses: carbon-design-system/action-ibmcloud-cf@v1.2.0
        with:
          cloud-api-key: ${{ secrets.CLOUD_API_KEY }}
          cf-org: ibm-digital-design
          cf-space: ibmdotcom-production
          cf-region: us-south
          cf-app: ibmdotcom-nextjs-staging
          cf-manifest: manifest-staging.yml
      - uses: act10ns/slack@v1
        with:
          status: ${{ job.status }}
        if: failure()
